body {
	
}

header{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	/* background-color: #9db5d4; */
	background-color: rgb(141, 34, 52);
	/*position: fixed;*/
	width: 100%;
	top: 0px;
	z-index: 10;
}


footer{
	height: 100%;
	/* background-color: #9db5d4; */
	background-color: rgb(141, 34, 52);
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
}

a {
	text-decoration: none;
}

p.header{
	margin-bottom: 0;
	color: #fff;
	font-size: 16px;
}

.logo{
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Roboto';
}

.cart-area {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 7ex;
	text-align: center;
}

.menu .cart-area {
	float: right;
	position: relative;
}

.cart-value {
	width: 100%;
	color: white;
}

.cart .fa {
	color: #fff;
	padding-top: 10%;
}

h1{
	color: #798698;
	text-align: center;
	font-family: 'Poiret One';
	font-size: 72px;
	margin-bottom: 10%;
}

p.cat{
	font-family: 'Roboto';
	font-size: 16px;
	color: #798698;
	margin-top: 0px;
	cursor: pointer;
}

.fa{
	color: #798698;
	transition: margin 0.5;
	cursor: pointer;
}

hr{
	margin-top: 5%;
}

.menu{
	width: 100%;
	display: inline-block;
	align-content: center;
	margin-top: 4%;
	margin-bottom: 2.5%;
	z-index: 11;
	transition: position 5s;
}
.menu * {
	z-index: 11;
}
.menu_fixed {
	top: 0px;
	left: 0px;
	position: fixed;
	margin-top: 0px;
	padding: 2.5%;
	background: white;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	font-size: 16px;
}
.menu div {
	margin-bottom: 0px;
}
.menu_fixed>center::before {
	background: url(../birroll.png);
	content: "";
	background-size: cover;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 5%;
}
.menu_fixed>center {
	padding: 0px 12%;
}
.menu_fixed .cart-value {
	color: black;
}
.menu_fixed .cart .fa {
	color: black;
	padding-top: 10%;
}

.slider {
	background-size: cover;
	transition: background-image 1.5s;
}

.line{
	position: relative;
	z-index: 3;
	overflow: hidden;
	text-align: center;
	color: rgba(49, 56, 65, 0.4);
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	/*font-family: 'Raleway';*/
	font-size: 32px;
	margin-top: 7%;
	margin-bottom: 7%;
}

.line:before,
.line:after{
	content: '';
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #dcdcdc;
	z-index: 2;
	position: relative;
	vertical-align: middle;
}

.line:before{
	right: 15px;
	margin: 0 0 0 -100%;
}

.line:after{
	left: 15px;
	margin: 0 -100% 0 0;
}

.section{
	display: inline-block;
	font-family: 'Roboto';
	font-size: 14px;
	/* color: #818a97; */
	border-style: solid;
	/* border-color: #dcdcdc; */
	/* border-width: 1px; */
	border-color: white;
	border-width: 0px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 5px;
	padding-bottom: 7px;
	margin-left: .6%;
	margin-right: .6%;
	margin-bottom: 2%;
	cursor: pointer;
	transition: background 0.4s;
	transition: border-bottom-color 0.4s;
}
.section:hover {
	/* background: #ede; */
	padding-bottom: 5px;
	border-color: black;
	border-bottom-width: 2px;
}

.item{
	height: 500px;
	border-style: solid;
	border-color: #dcdcdc;
	border-width: 1px;
	border-radius: 4px;
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	justify-content: space-between; 
	flex-direction: column;
	transition: margin-top 1s;
}

.item img {
	max-width: 100%;
	margin: 0px auto;
}

.image-area {
	height: 250px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	position: relative;
}

.desc-area {
	height: 250px;
}

h4{
	text-align: center;
	color: #313841;
	font-family: 'Roboto';
	font-size: 22px;
}

.description{
	font-size: 14px;
	font-family: 'Roboto';
	color: #313841;
	padding-left: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 17px;        /* fallback */
    max-height: 51px;       /* fallback */
}

.price{
	background-color: #fd9d71;
	float: right;
	color: #fff;
	font-family: 'Roboto';
	font-size: 28px;
	text-align: center;
	position: absolute;
	bottom: -32px;
	right: 0px;
	/* margin-left: 50%;
	margin-bottom: 7%; */
	padding: 1% 5% 1% 5%;
}

.quantity .fa{
	color: #dcdcdc;
	vertical-align: middle;
}

.figure{
	color: #dcdcdc;
	font-size: 20px;
	font-family: 'Roboto';
	text-align: center;
	margin: 0 5% 0 5%;
}

.add{
	color: #fff;
	background-color: #eb5757;
	font-size: 14px;
	font-family: 'Roboto';
	text-align: center;
	width: 80%;
	margin: 7%;
	padding: 3%;
	cursor: pointer;
	transition: width 0.5s ease-in, border-radius 1s;
}
.add:hover {
	width: 86%;
	border-radius: 10px;
}

.show{
	color: #9db5d4;
	font-family: 'Roboto';
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	border-style: solid;
	border-color: #9db5d4;
	border-width: 1px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 3%;
	padding-left: 3%;
	transition: padding 0.5s, background 0.6s;
}


.more{
	margin: 7%;
}

@media screen and (max-width: 770px){
	.header, .cart{
		text-align: center;
		padding-bottom: 1%;
	}
	.cart-area {
		width: 100%;
	}
}

@media screen and (min-width: 320px) and (max-width: 600px){
	h1{
		font-size: 45px;
	}
	.menu_fixed>center::before {
		width: 65px;
		height: 65px;
	}
	.menu_fixed>center {
		padding-left: 68px;
	}
}

@media screen and (max-width: 319px){
	h1{
		font-size: 27px;
	}
	.menu_fixed>center::before {
		width: 70px;
		height: 70px;
	}
	.menu_fixed>center {
		padding-left: 73px;
	}
}

.menu_fixed .cart-area {
	position: absolute;
	padding-top: 1.5%;
	right: 5%;
	width: 5%;
	top: 0px;
    content: attr(data-content);
}
.menu_fixed {
	height: 15vh;
}

.logo {
	content: url(../birroll.png);
	width: 66px;
}

.menu_fixed .section {
	/* font-size: 16px; */
}