<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style2.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='birroll.png') }}">
    <title>Beerroll</title>
    <script>
      function isFull () {
        const li = document.querySelectorAll("input");
        for (let elNum of [0,1,3,4]) {
          if (li[elNum].value == "")
            return false;
        }
        return true;
      }

      function phoneCorrect () {
        const phone = document.querySelector('input[name="tel"]').value;
        if (phone.length != 11) {
          return false;
        }
        return true;
      }

      function onSubmit(event) {
        if (!(isFull())) {
          event.preventDefault();
          alert("Пожалуйста, заполните все обязательные поля!");
        } else if (!(phoneCorrect())) {
          event.preventDefault();
          alert("Телефон введен некорректно! Ожидается 11 цифр.");
        } 
      }
    </script>
  </head>

  <body>
    <div class="container">
      <div class="block">
        <a href="/korsina"><div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div></a>
        <br/>
        <br/>
        <br/>

        <div class="row">         
            <div class="ord col-xs-12 col-md-5">Заказ</div>
            <div class="line22 col-xs-12 col-md-2"><hr/></div>
            <div class="del col-xs-12 col-md-5">Доставка</div>  
        </div>


<form action="/add_zakaz">
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputEmail4" class="col-form-label">Имя*</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Имя" name="name">
    </div>
    <div class="form-group col-md-4">
      <label for="inputPassword4" class="col-form-label">Улица*</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Улица" name="street">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4" class="col-form-label">Корпус</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Корпус" name="k">
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-5">
    <label for="inputAddress" class="col-form-label">Телефон*</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Телефон" name="tel">
  </div>
  <div class="form-group col-md-2">
    <label for="inputAddress2" class="col-form-label">Дом*</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Дом" name="house">
  </div>
  <div class="form-group col-md-2">
    <label for="inputAddress2" class="col-form-label">Подъезд</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Подъезд" name="p">
  </div>
  <div class="form-group col-md-3">
    <label for="inputAddress2" class="col-form-label">Квартира</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Квартира" name="flat">
  </div>
  </div>
  <div class="form-group">
    <label for="inputAddress2" class="col-form-label">Комментарии к заказу</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Комментарии" name="com">
  </div>
<div class="payment" style="margin-left: 28%;">
  <div class="row">
    <div class="nal col-xs-12 col-md-4">
      <label class="choose"><input type="radio" name="pay" value="Наличными курьеру"><br>Наличными курьеру</label>
    </div>
    <div class="courier col-xs-12 col-md-4">
      <label class="choose"><input type="radio" name="pay" value="Картой курьеру"><br>Картой курьеру</label>
    </div>
  </div>
</div>
<!-- <div class="payment">
  <div class="row">
    <div class="bank col-xs-12 col-md-4">
      <div class="choose">Банковской картой</div>
    </div>
    <div class="nal col-xs-12 col-md-4">
      <div class="choose">Наличными курьеру</div>
    </div>
    <div class="courier col-xs-12 col-md-4">
      <div class="choose">Картой курьеру</div>
    </div>
  </div>
</div> -->
<center><button type="submit" class="btn btn-primary" onclick="onSubmit(event)">Готово</button></center>
</form>

    
  

      </div>
    </div>

    <!-- <div class="popup">
      <h2>Заказ в обработке</h2>
      <p>Спасибо за заказ! В ближайшее время с Вами свяжутся по оставленным контактам для подтверждения.</p>
      <a href="/"><div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div></a>
    </div> -->
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>