<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <title>Beerroll</title>
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='birroll.png') }}">
    <style>
    .slider {
      cursor: pointer;
    }
    a {
      color: inherit;
    }
    .show {
      background: white;
      color: black;
      border-color: black;
      font-family: inherit;
    }
    </style>
    <title>Sushi</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
function throttle(func, ms) {

  var isThrottled = false,
    savedArgs,
    savedThis;

  function wrapper() {

    if (isThrottled) { // (2)
      savedArgs = arguments;
      savedThis = this;
      return;
    }

    func.apply(this, arguments); // (1)

    isThrottled = true;

    setTimeout(function() {
      isThrottled = false; // (3)
      if (savedArgs) {
        wrapper.apply(savedThis, savedArgs);
        savedArgs = savedThis = null;
      }
    }, ms);
  }

  return wrapper;
}

      function setCart(value, way="+") {
        let lambda;
        way == "-" ? lambda = 0-value : lambda = +value;
        document.querySelector(".cart-int").innerText = +document.querySelector(".cart-int").innerText + lambda;
        console.log(lambda);
      }

      function send_request(url) {
        let resp = new XMLHttpRequest();
        resp.open("GET", url, true);
        resp.send();        
      }

      function onAddClick(target) {
        const add_url = `/add_tovar?name=${target.dataset.name}&tag=${target.dataset.tag}`;
        send_request(add_url);
        try {
          target.parentElement.querySelector('.figure').innerText = +target.parentElement.querySelector('.figure').innerText + 1;
          setCart(target.dataset.price);
        }
        catch (e) {
          target.parentElement.previousElementSibling.querySelector('.figure').innerText = +target.parentElement.previousElementSibling.querySelector('.figure').innerText + 1;  
          setCart(target.dataset.price);      
        }
      }

      function onMinusClick (target) {
        let value = target.parentElement.querySelector('.figure');
        const add_url = `/minus_tovar?name=${target.dataset.name}&tag=${target.dataset.tag}`;
        if (+value.innerText > 0) {
          send_request(add_url);
          value.innerText = value.innerText - 1; 
          setCart(target.dataset.price, "-");
        }   
      }

      function onChangeClick(target) {
        target.dataset.val == "+" ? onAddClick(target) : onMinusClick(target);
      }

      function onItemsClick ({target}) {
        if ("price" in target.dataset) {
          target.classList.contains('add') ? onAddClick(target) : onChangeClick(target);
        }
      }


      function fixMenuWithoutT(value) {
        const menu = document.querySelector(".menu");
        value === true ? menu.classList.add("menu_fixed") : menu.classList.remove("menu_fixed") ;
        const cart = document.querySelector(".cart-area");
        cart.parentElement.removeChild(cart);
        value === true ? menu.querySelector("center").appendChild(cart) : document.querySelector(".cart-item").appendChild(cart);
      }

      var fixMenu = throttle(fixMenuWithoutT, 600);

      let menu_fixed = false;
      function onScroll(event) {
        let scrolled = window.scrollY;
        if (scrolled > 150) {
          if (menu_fixed === false) {
            menu_fixed = true;
            fixMenu(true);
          }
        } else if (scrolled < 150) {
          if (menu_fixed === true) {
            menu_fixed = false;
            fixMenu(false);
          }
        }

      }


    function onAClick(event) {
        event.preventDefault();
      const href = event.target.dataset['href'];

      const target = document.querySelector(href);
      doc = document.documentElement;
      fixMenu(true);
      window.scroll({
      top: target.getBoundingClientRect().top + (window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0) - 130, 
      left: 0, 
      behavior: 'smooth' 
    });
    }

    function onSliderClick(event) {
      document.querySelector(".slider").offsetWidth / event.screenX > 0.5 ? changeSlider(1) : changeSlider(-1);
    }

      const slider_images = [{{ slider_images }}];
      /*"https://cdn.pizzasushiwok.ru/slider/gril.jpg",
      "https://cdn.pizzasushiwok.ru/slider/priziv.jpg"*/

      let step = 1;

      function changeSlider(s) {
        const slider = document.querySelector(".slider");
        let num;
        num = step % slider_images.length;
        document.querySelector(".slider").style['background-image'] = "url("+slider_images[num]+")";
        step += s;
      }



      document.addEventListener('DOMContentLoaded', function () {
        const items = document.querySelector('.items');
        const menu = document.querySelector('.menu');
        items.addEventListener("click", onItemsClick);  
        window.addEventListener("scroll", onScroll); 
        

        document.querySelector(".slider").addEventListener("click", onSliderClick);
        document.querySelector(".slider").style['background-image'] = "url("+slider_images[0]+")";
        var promise = new Promise(function() { 
          setInterval(() => {
            changeSlider(1);
          }, 7500);
        })
        promise.then();

        const links = document.querySelectorAll(".menu-link");
        for (let link of links) {
          link.addEventListener("click", onAClick);
        }
      })

  
    


    </script>
  </head>


  <body>

<a name="head"></a>
    <header>
      <div class="container">
      <div class="row header-row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <p class="header"><!--+7 800 555 35 35-->{{ data['phone'] }}</p>
          <p class="header"><!--Москва, ул. Айникина 43-->{{ data['address'] }}</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <center><div class="logo"></div></center>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <p class="header">Минимальная <br/>сумма заказа <!--600-->{{ data['min_price'] }}&nbsp;&#8381;</p>
        </div>
        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 cart-item">
          <div class="cart-area">
            <div class="cart"><a href ="/korsina"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></div>
            <div class="cart-value"><span class="cart-int">{{cart_value}}</span>р</div>
          </div>
        </div>
      </div>
    </div>
    </header>

    <div class="container">
          <div class="menu">
              <center width="100%">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamb" style="float: none; margin-right: 0px">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="background-color: black;"></span>
                    <span class="icon-bar" style="background-color: black;"></span>
                    <span class="icon-bar" style="background-color: black;"></span>
                </button>
                <div id="hamb" class="menu-center collapse navbar-collapse">
                  {% for n in tags %}
                    <div href="#tag{{n.split()[0]}}" data-href="#tag{{n.split()[0]}}" class="section menu-link">{{n}}</div>
                  {% endfor %}
                </div>
              </center>
            
          </div>
    </div>

          <center><div class="slider" width="100%">
            <img width="100%" src="https://cdn.pizzasushiwok.ru/slider/gril.jpg" style="visibility: hidden;" />
          </div>
          <!--<img src="{{ url_for('static', filename = 'images/image 7.png') }}" width="90%">-->
          </center>
          <!--<center><a href="#catalog"><p class="cat">Каталог</p></a></center>
          <center><i class="fa fa-long-arrow-down" aria-hidden="true"></i></center>
          <hr align="center" size="5px" color="#dcdcdc" width="100%">-->
    <div class="container">

            <!--<h3 class="line">{{ tag.upper() }}</h3>-->

            <div class="items">
              
                {% for n in tags %}
                <h3 class="line"><a id="tag{{n.split()[0]}}" name="tag{{n}}">{{n.upper()}}</a></h3>
                <div class="row">
                  {% for roll in dic[n]%}
                  <div class="block col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="item">
                      <div class="image-area"><img src="{{ url_for('static', filename = 'images/' + roll['image']) }}" width="97%">
                        <div class="price"><span>{{roll['price']}} <sup>&#8381;</sup></span></div>
                      </div>
                      <div calss="desc-area">
                        
                        <h4 class="name">{{roll['name']}} </h4>
                        <p class="description">{{roll['desc']}} </p>
                        <div class="quantity"><center>
                          <i class="fa fa-minus-square-o fa-2x" aria-hidden="true" data-tag="{{roll['tags'][0]}}" data-name="{{roll['name']}}" data-val="-" data-price="{{roll['price']}}"></i>
                          <span class="figure">{{ kors.get(roll['name'], 0) }}</span>
                          <i class="fa fa-plus-square-o fa-2x" aria-hidden="true" data-tag="{{roll['tags'][0]}}" data-name="{{roll['name']}}" data-val="+" data-price="{{roll['price']}}"></i></center>
                        </div>
                        <center><div data-name="{{roll['name']}}" data-tag="{{roll['tags'][0]}}" class="add" data-price="{{roll['price']}}">Добавить в корзину</div></center>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>                
                 {%endfor%}


              </div>
            </div>
            <!--<div class="more"><center><span class="show">Показать еще</span></center></div>-->

<br><br><br><br>
    </div>

    <footer>
      <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p class="header">{{ data['phone'] }}</p>
          <p class="header">{{ data['address'] }}</p>
        </div>
        <div class="col-md-6">
          <center><div class="logo">LOGO</div></center>
        </div>
        <div class="col-md-3">
          <br><br>
          <p class="header" style="padding-bottom: 2px; text-align: right">&copy; Бизнес в стиле .RU</p>
        </div>
      </div>
    </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
  <script>
    
  </script>
</html>