<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Add roll</title>
    <style>
		section {
			position: relative;
			max-width: 920px;
			margin: 0px auto;
		}
    </style>
</head>
<body>
	<section>
		<h1>Добавьте изображение ролла</h1>
		<form action="/load_image" enctype="multipart/form-data" method="POST">
			<p>Название: {{name}}</p>
			<p>Цена: {{price}}</p>
			<p>Описание: {{desc}}</p>
			<p>Тэги: {{tags}}</p>
			<input  name="img" type="file"><br><br>
			<input type="submit" value="Добавить ролл">
		</form>
	</section>
</body>
</html>